body{
    padding: 0;
    margin: 0;
    background-color: #777777;
    font-size: 18px;
}

header, p, h1{
    text-align: center;
    color: #777777;
}

.headerp{
    vertical-align: middle;
}

.cword{
    line-height: 50px;
}

.cwords{
    line-height: 80px;
    margin:1px;
}

h1{
    color: #777777;
    line-height: 50px;
}
.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 8px;
    background-color: #777777;
}

.headbox{
    height: 80px;
    background-color: #ebebeb;
    padding-top: 10px;
}

.navbox{
    height: 80px;
    background-color: #ebebeb;
    margin-top: 5px;
}

.secpart{
    height: 260px;
    background-color: #777777;
    padding-top: 10px;
}

.secbox{
    float: left;
    background-color: #ebebeb;
    height: 250px;
    width: 60%;
}

.asibox{
    float: right;
    background-color: #ebebeb;
    height: 250px;
    width: 39%;
}

.artbox{
    background-color: #777777;
    width: 96%;
    margin: 0 auto;
    height: 180px;
    padding-bottom: 5px;
}

.diffp{
    color: #ebebeb;
}

.h1box{
    background-color: #ebebeb;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}

.parbox{
    background-color: #ebebeb;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}

.footbox{
    height: 80px;
    background-color: #ebebeb;
}

